name: opalopc
title: OpalOPC
version: "{{ version | mandatory }}"
summary: OPC UA Security Scanner
description: |
  🔒 Reveal Security Issues in your Most Critical Systems.

  **Software License Required**: Visit https://opalopc.com to get a license key.

  OpalOPC is a vulnerability and misconfiguration scanner for OPC UA applications.
  It scans OPC UA servers for security vulnerabilities, and outputs vulnerability scan reports.
  The reports show you the weak spots of your OPC UA applications, and suggests corrective actions to improve their security.

  * ✔️ Growing knowledge-base of OPC UA vulnerabilities
  * ✔️ New security checks added regularly
  * ✔️ CLI and GUI interfaces (GUI is Windows only)
  * ✔️ HTML and SARIF reports
  * ✔️ Easy to use
  * ✔️ Easy integration with CI/CD pipelines

  Use it to attack or defend systems. 🗡️🛡️
website: https://opalopc.com
contact: info@opalopc.com
issues:
  - https://opalopc.com/contact-us/
license: Proprietary
icon: logo-256-256.png
grade: stable # must be 'stable' to release into candidate/stable channels
confinement: strict
base: core22

parts:
  opalopc:
    plugin: dump
    source: "{{ build_folder_bin | mandatory }}"
    source-type: local
    stage-packages:
      - libicu70

apps:
  opalopc:
    command: opalopc
    plugs:
      - network
      - network-status
      - home
